body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    color: #555;
    background: #57c478;
}

h1,
h2,
strong {
    color: #333;
}

a {
    color: #e9ae0b
}

a:hover {
    color: #ffdd0e
}
